.table-container {
    margin: 0rem 1rem;
}

.filter-row {
    background-color: #f0f0f0;
    border-color: grey;
    font-size: 1.4rem; 
    font-weight: bold;
}

.transactions-table {
    border-style: solid;
    border-color: #f0f0f0;
    border-width: 1px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}